<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cervical Cancer</title>
    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }
        .textbox {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST" id="cancerForm">
    <div class="container">
        <input type="text" class="textbox" id="textbox1" name="textbox1" placeholder="Age">
        <input type="text" class="textbox" id="textbox2" name="textbox2" placeholder="Number of sexual partners">
        <input type="text" class="textbox" id="textbox3" name="textbox3" placeholder="First sexual intercourse">
        <input type="text" class="textbox" id="textbox4" name="textbox4" placeholder="Num of pregnancies">
        <input type="text" class="textbox" id="textbox5" name="textbox5" placeholder="Smokes (1 or 0)">
        <input type="text" class="textbox" id="textbox6" name="textbox6" placeholder="Smokes (years)">
        <input type="text" class="textbox" id="textbox7" name="textbox7" placeholder="Smokes (packs/year)">
        <input type="text" class="textbox" id="textbox8" name="textbox8" placeholder="Hormonal Contraceptives (1 or 0)">
        <input type="text" class="textbox" id="textbox9" name="textbox9" placeholder="Hormonal Contraceptives (years)">
        <input type="text" class="textbox" id="textbox10" name="textbox10" placeholder="IUD (1 or 0)">
        <input type="text" class="textbox" id="textbox11" name="textbox11" placeholder="IUD (years)">
        <input type="text" class="textbox" id="textbox12" name="textbox12" placeholder="STDs (1 or 0)">
        <input type="text" class="textbox" id="textbox13" name="textbox13" placeholder="STDs (number)">
        <input type="text" class="textbox" id="textbox14" name="textbox14" placeholder="STDs:condylomatosis (1 or 0)">
        <input type="text" class="textbox" id="textbox15" name="textbox15" placeholder="STDs:cervical condylomatosis (1 or 0)">
        <input type="text" class="textbox" id="textbox16" name="textbox16" placeholder="STDs:vaginal condylomatosis (1 or 0)">
        <input type="text" class="textbox" id="textbox17" name="textbox17" placeholder="STDs:vulvo-perineal condylomatosis (1 or 0)">
        <input type="text" class="textbox" id="textbox18" name="textbox18" placeholder="STDs:syphilis (1 or 0)">
        <input type="text" class="textbox" id="textbox19" name="textbox19" placeholder="STDs:pelvic inflammatory disease (1 or 0)">
        <input type="text" class="textbox" id="textbox20" name="textbox20" placeholder="STDs:genital herpes (1 or 0)">
        <input type="text" class="textbox" id="textbox21" name="textbox21" placeholder="STDs:molluscum contagiosum (1 or 0)">
        <input type="text" class="textbox" id="textbox22" name="textbox22" placeholder="STDs:AIDS (1 or 0)">
        <input type="text" class="textbox" id="textbox23" name="textbox23" placeholder="STDs:HIV (1 or 0)">
        <input type="text" class="textbox" id="textbox24" name="textbox24" placeholder="STDs:Hepatitis B (1 or 0)">
        <input type="text" class="textbox" id="textbox25" name="textbox25" placeholder="STDs:HPV (1 or 0)">
        <input type="text" class="textbox" id="textbox26" name="textbox26" placeholder="STDs: Number of diagnosis">
        <input type="text" class="textbox" id="textbox27" name="textbox27" placeholder="Dx:Cancer (1 or 0)">
        <input type="text" class="textbox" id="textbox28" name="textbox28" placeholder="Dx:CIN (1 or 0)">
        <input type="text" class="textbox" id="textbox29" name="textbox29" placeholder="Dx:HPV (1 or 0)">
        <input type="text" class="textbox" id="textbox30" name="textbox30" placeholder="Dx (1 or 0)">
        <input type="text" class="textbox" id="textbox31" name="textbox31" placeholder="Hinselmann (1 or 0)">
        <input type="text" class="textbox" id="textbox32" name="textbox32" placeholder="Schiller (1 or 0)">
        <input type="text" class="textbox" id="textbox33" name="textbox33" placeholder="Citology (1 or 0)">
        <input type="submit" class="my-cta-button" value="Predict">
        <div></div>
        <div></div>
        <div></div>
    </div>
    </form>

    <script>
         document.getElementById("cancerForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission
            var smokeValue = document.getElementById("textbox5").value;
            if (smokeValue == "0") {
                document.getElementById("textbox6").value = "0";
                document.getElementById("textbox7").value = "0";
            }
            var hormonalContraceptivesValue = document.getElementById("textbox8").value;
            if (hormonalContraceptivesValue == "0") {
                document.getElementById("textbox9").value = "0";
            }
            var iudValue = document.getElementById("textbox10").value;
            if (iudValue == "0") {
                document.getElementById("textbox11").value = "0";
            }
            var stdsValue = document.getElementById("textbox12").value;
            if (stdsValue == "0") {
                for (var i = 13; i <= 26; i++) {
                    document.getElementById("textbox" + i).value = "0";
                }
            }
            // Now, you can submit the form
        document.getElementById("cancerForm").submit();
        });
    </script>
</body>
</html>
