<html>
    <head>
        <title>Heart Disease Predictor</title>

    </head>
    <body>
        <div class="container">
            <h2 class='container-heading'><span class="heading_font">Heart Disease Predictor</span></h2>
            <div class='description'>
            <p>A Machine Learning Web Application that predicits chances of having heart Disease or not, Built with Flask and Deployed using Heroku.</p>
            <div class="ml-container">
                <form action="{{ url_for('predict')}}" method="POST"> 
                    <label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Your age.."><br>


                    <label for="sex">Sex</label>
                    <input type="text" id="sex" name="sex" placeholder="male or female."><br>

                    <label for="cp">Chest Pain Type</label>
                    <input type="text" id="cp" name="cp" placeholder= " "><br>
                    

                    <label for="trestbps">Resting Blood Pressure</label>
                    <input type="text" id="trestbps" name="trestbps" placeholder=" "><br>
                     
                    <label for="chol">Serum Cholesterol</label>
                    <input type="text" id="chol" name="chol" placeholder=" "><br>
                    
                    <label for="fbs">Fasting Blood Sugar</label>
                    <input type="text" id="fbs" name="fbs" placeholder=" "><br>
                    

                    <label for="restecg">Resting ECG Results</label>
                    <input type="text" id="restecg" name="restecg" placeholder=" "><br>
                    
                   <label for="thalach">Max Heart Rate </label>
                   <input type="text" id="thalach" name="thalach" placeholder=" "><br>


                  <label for="exang">Exercise-induced Angina</label>
                  <input type="text" id="exang" name="exang" placeholder=" "><br>


        
                  <label for="oldpeak">ST depression</label>
                  <input type="text" id="oldpeak" name="oldpeak" placeholder=" "><br>



                 <label for="slope">slope of the peak exercise ST segment</label>
                 <input type="text" id="slope" name="slope" placeholder=" "><br>
        
                 <label for="ca">Number of Major vessels</label>
                 <input type="text" id="ca" name="ca" placeholder=" "><br> 
                          
                 <label for="thal">Thalassemia</label> 
                 <input type="text" id="thal" name="thal" placeholder=" "><br> 
        

        <input type="submit" class="my-cta-button" value="Predict">
    </form>
    </body>

</html>